<p>   <img src="http://localhost:4000/img/IMG_4603.jpg" alt=""> </p>

<h1><span data-i18n="skills.my_skills">About Me</span></h1>

<div>
	<p> Hi, I'm Janice. I'm a recent Yale graduate (àshe!) currently taking a gap year in Taipei.</p>

	<p> This blog will be an inconsistent and haphazardly-curated collection of my photos and thoughts over the next year. It might be mix of photo-dumping, travel-journaling, and thought-spewing. It will always be a work in progress. I'm not sure where this year will take me, but feel free to follow along! </p>

</div>